body{
    font-family: sans-serif;
    /* margin: 0; */
    /* padding: 0; */
    background:url('Battlegrounds-Mobile-India.jpg');   
    width: 50%;
    height: 100%;
    /* background-repeat: no-repeat; */
    background-size: cover; 
    background-repeat: no-repeat;
    /* background-image: url('background\ \(2\).jpg');
    background-attachment: fixed;
    background-size: 100% 100%; */
    /* background-size:cover; */
}
h1{
    text-align: center;
  border: 3px solid green;
}
p{
      margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.box
{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:500px;
    padding:1000 px;
    background: rgba(48, 35, 19, 0.8);
    box-sizing: 0 15px 25px rgba(0,0,0,0.5);
    border-radius:10px;
}
.box h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align:center;
}
.box .inputBox
{
    position: relative;
}
.box .inputBox input
{
    width: 100%;
    padding: 10px 0;
    font-size:16px;
    color:#fff;
    letter-spacing: 1px;
    margin-bottom:30px;
    border:none;
    border-bottom: 1px solid #fff;
    outline:none;
    background:transparent;
}
.box .inputBox label{
    position: absolute;
    top:0;
    left:0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.box .inputBox input:focus ~label,
.box .inputBox input:valid ~label
{
    top: -18px;
    left: 0;
    color:#03a9f4;
    font-size: 12px;
}
.box input[type="submit"]
{
    background: transparent;
    border:none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.box input[type="submit"]:hover{
    background-color: rgb(36, 231, 69);
    color: white;
    box-shadow: 0 20px 25px 0 #19f804;
    opacity: 1;
    right: 0;
    transition: 0.3s;
}
h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align:center;
}